{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cursed Images But With Earthbound Music</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<body>
    <div id="playbutton" class="playbutton hidden"><span>▶</span></div>

    <div id="cursedimage" class="cursedimage hidden" style="background-image: url('{{ background_url }}');">
    {% if image_link %}
        <a href="{{ image_link }}" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    </div>

    <audio id="song" loop>
        <source src="{{ song_mpeg_url }}" type="audio/mpeg">
        <source src="{{ song_ogg_url }}" type="audio/ogg">
    </audio>

    <a href="/">
        <img src="{% static 'status.png' %}" class="statusbar">
    </a>

</body>
<script type="text/javascript" src="{% static 'cursedbound.js' %}"></script>
</html>